.message {
    display: flex;
    margin-bottom: 5px;
    max-width: 90%;
    position: relative;
    align-items: center;
  }

  .message-avatar {
    margin: 5px 0px;
  }

  .message-info {
    font-size: 12px;
    padding: 8px;
    background-color: white;
    height: fit-content;
  }
  
  .message-name {
    font-size: 10px;
    color: #96a2a9;
    font-weight: 700;
    position: absolute;
    top: -10px;
  }
  
  .message-receivedArrow {
    margin-left: -4px;
    margin-right: -11px;
    color: white;
  }

  .message-sentArrow {
    order: 2;
    margin-left: -11px;
    margin-right: -4px;
    color: rgb(179, 243, 247);
  }
  
  .message-sent > .message-avatar {
    order: 3;
  }

  .message-sent .message-info {
    background-color: rgb(179, 243, 247);
  }
  
  .message.message-sent {
    align-self: flex-end;
  }
  