
.main{
    background-color: #0083C2;
    border-radius: 10px;
    display: flex;
}

body{
    background-color: #0083C2;
}

@media only screen and (max-width: 800px) {
    .main{
        flex-direction: column;
        align-self: center;
        margin-bottom: 50px;
    }
  }